@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background: imgUrl("header.jpg") center top;

    .header-top-bar {
        padding: 16px 48px;

        .btn {
            height: 56px;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
        }
    }

    .banner {
        padding-top: 118px;

        .carpet-hire-claim-card {
            display: inline-block;
            background-color: $black;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
            border-radius: 2.42075px;
            padding: 23px 21px;
        }

        .banner-book-btn {
            border-radius: 2.59172px;
            font-weight: 600;
            font-size: 1.3rem; // 20.8px
            height: 72px;
            display: flex;
            align-items: center;
            padding: 16px 52px;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
            }
        }

        .banner-review {
            padding: 125px 0 78px;

            .facebook-review-card {
                background: $facebook;
                border-radius: 2.27397px;
                overflow: hidden;
            }

            .google-review-card {
                background: $secondary;
                border-radius: 2.27397px;
                overflow: hidden;
            }
        }

        .cta {
            .cta-card {
                .content-wrapper {
                    color: $white;
                    padding: 72.14px 31px 35px;
                    font-family: $font-raleway;
                    position: relative;

                    .content {
                        min-height: 250px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }

                    .icon {
                        position: absolute;
                        top: -38.5px;
                    }
                }
            }
        }
    }
}

section.services {
    background: imgUrl("service.png") center;
    background-size: cover;
    padding: 96px 0 117px;

    .service-btn {
        border-radius: 2.0363px;
        background-color: $tertiary;
        color: $white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        padding: 8px 16px;
        text-align: center;
        font-size: 1.018125rem; // 16.29px
        font-weight: 600;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            width: 0px;
            height: 0px;
            background: rgba(255, 255, 255, 0.4);
            bottom: 0;
            right: 0;
            outline: none;
            transition: all 0.6s ease;
        }

        &:hover {
            &::before {
                mix-blend-mode: hard-light;
                width: 30px;
                color: $white;
                border-radius: 50px;
                height: 30px;
                transform: scale(36.5);
            }
        }

        &:focus {
            outline: none;
            box-shadow: 0;
        }

        @include media-breakpoint-down(sm) {
            font-size: 0.875rem;
        }

        &.active {
            background-color: $primary;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
            transition: 0.1s all;
        }
    }

    .service-note {
        font-weight: 600;
        color: $white;
        font-size: 1.5rem; // 24px
        padding-bottom: 24px;
        display: none;

        @include media-breakpoint-down(sm) {
            font-size: 1rem;
        }
    }

    .accordion-container {
        width: 100%;
        display: none;

        .accordion-card {
            margin: 22px 0;

            .accordion-head {
                background-color: $white;
                color: $black;
                cursor: pointer;
                font-weight: 700;
                text-transform: capitalize;
                padding: 1rem;
                transition: 0.2s all;
                font-size: 1.125rem;
                align-items: center;
                display: flex;
                justify-content: space-between;

                @include media-breakpoint-up(xl) {
                    font-size: 1.5rem; // 24px
                    padding: 32px 23px;
                }

                &.active {
                    background: rgba(255, 255, 255, 0.8);
                }

                .main-question {
                    @include media-breakpoint-down(sm) {
                        max-width: 95%;
                    }
                }
            }

            .accordion-body {
                background: rgba(255, 255, 255, 0.9);
                color: $black;
                display: none;
                padding: 24px 1rem;
                line-height: 2;
                font-size: 1rem; // 16px

                @include media-breakpoint-up(md) {
                    padding: 34px 24px;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }
        }

        &.active {
            display: block;
        }
    }
}

section.about {
    padding: 107px 0;

    .about-outer-wrapper {
        background: $primary;
    }

    .about-wrapper {
        padding: 55px 50px 45px 81px;
        color: $white;
    }
}

section.brands {
    padding: 52px 0;

    .facebook-review-card {
        background: $facebook;
        border-radius: 2.27397px;
        overflow: hidden;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    }

    .google-review-card {
        background: $secondary;
        border-radius: 2.27397px;
        overflow: hidden;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    }
}

section.form {
    padding: 51px 0 122px;

    .form-wrapper {
        padding: 50px 16px 34.58px 16px;
        box-shadow: 0px 35px 55px rgba(0, 0, 0, 0.1);

        @include media-breakpoint-up(md) {
            padding: 40px 64px 61px;
        }

        .form_heroTitle {
            font-weight: 800;
            line-height: 1.06;
            text-align: center;
            padding-bottom: 63px;
            font-size: 4.290625rem; // 68.65px
            margin-bottom: 0;
            color: $black;

            @include media-breakpoint-down(md) {
                font-size: 2rem;
            }

            @include media-breakpoint-down(sm) {
                padding-bottom: 30px;
                font-size: 1.5rem;
            }
        }

        form {
            label {
                font-size: 1.25rem;

                @include media-breakpoint-down(md) {
                    font-size: 1rem;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }

            input,
            select {
                color: $dark;
                font-weight: 400;
                min-height: 45px;
                font-size: 12px;

                @include media-breakpoint-up(md) {
                    font-size: 18px;
                    min-height: 71px;
                }

                &:focus {
                    box-shadow: none;
                    outline: none;
                }

                &::placeholder {
                    color: $grey;
                }

                option {
                    color: $dark;
                }
            }

            select {
                color: $tertiary;
            }

            button {
                min-height: 68.54px;

                @include media-breakpoint-up(md) {
                    min-height: 61px;
                }
            }
        }

        .form_privacyInformation {
            font-weight: 500;
            font-size: 0.875rem;
            color: $grey;
            line-height: 1;

            @include media-breakpoint-down(sm) {
                padding-bottom: 20.89px;
            }
        }
    }
}

footer {
    padding-bottom: 76px;
    letter-spacing: -0.5px;
    font-size: 0.95rem;
}